{% extends "final/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <section class="background-radial-gradient overflow-hidden">
        <style>
          .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
                hsl(218, 41%, 35%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%),
              radial-gradient(1250px circle at 100% 100%,
                hsl(218, 41%, 45%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%);
          }
      
          #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
          }
      
          #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
          }
      
          .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
            margin-top: 0px;
          }
        </style>
      
        <div class="container px-8 py-5 px-ld-5 text-center text-lg-start my-5" >
          <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                The best way to practice <br />
                <span style="color: hsl(218, 81%, 75%)">for your interviews</span>
              </h1>
              <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                Flashcards are a popular study tool that many students use to help them memorize information. 
            
                They are portable, easy to use, and can be customized to suit individual learning needs. 
    
              </p>
            </div>
      
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
      
              <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <!-- username input -->
                    <div class="form-outline mb-4">
                      <input type="text" name="username" id="form3Example3"  class="form-control">
                      <label class="form-label" for="form3Example2">Username</label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" name="email" class="form-control" />
                        <label class="form-label" for="form3Example3">Email address</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password"  name="password" id="form3Example4" class="form-control" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                        <label class="form-label" for="form3Example5">Password again</label>
                    </div>

                    <input class="btn btn-primary btn-block mb-4" type="submit" value="Register">
           
                    <!-- Register buttons -->
                  </form>
                  Already have an account? <a style="color:rgb(185, 87, 21)" href="{% url 'login' %}">Log In.</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->

{% endblock %}